<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
      <add key="versionFileAddress" value="https://raw.github.com/naeemkhedarun/nosey/releases/releases/agent/.semver" xdt:Locator="Match(key)" xdt:Transform="Replace" />
      <add key="updatePackageAddress" value="https://github.com/naeemkhedarun/nosey/archive/" xdt:Locator="Match(key)" xdt:Transform="Replace" />
      <add key="automaticUpdate" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
      <add key="UpdateScriptName" value="Update-Version.ps1" />
    </appSettings>
</configuration>