/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/* gantt */
.gantt {
    height: 500px; 
    width:100%;
    margin-top:2em;
}

.chart {
	font-size: 13px;
}

.axis path,.axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

/* http://colorschemedesigner.com/#4e62PllBRK5HO */
.bar-feature {
	fill: #6A4FC1;
}

.bar-extension {
	fill: #FF5555;
}

.bar-Invoke-BeforeDeploymentSteps {
	fill: #B7F3B7;
}

.bar-Invoke-PackagePreDeploymentSteps {
	fill: #8AF38A;
}

.bar-Invoke-PackageDeploymentSteps {
	fill: #48D748;
}

.bar-Invoke-PackagePostDeploymentSteps {
	fill: #FFEC91;
}

.bar-Invoke-AfterDeploymentSteps {
	fill: #FFF4C0;
}

.bar-failed {
	fill: #CC0000;
}

.bar-running {
	fill: #ccc;
}

.bar-succeeded {
	fill: #33b5e5;
}

.bar-killed {
	fill: #ffbb33;
}
