<br />
<div ng-show="deploymentId">
    <div class="row-fluid" ng-hide="isComplete">
        <div class="alert alert-info">
            <span>Deploying to {{detail.environment}}</span>
            <span>- Total Duration: {{duration}}</span>
            <span>- from {{detail.sourceBranches}}</span>
            <span>- started at {{detail.startTime}}</span>
        </div>
    </div>
    <div class="row-fluid" ng-show="isComplete">
        <div class="alert alert-success">
            <span>Successfully deployed to {{detail.environment}}</span>
            <span>- Total Duration: {{duration}}</span>
            <span>- from {{detail.sourceBranches}}</span>
        </div>
    </div>
    <div id="gantt" class="gantt" gantt></div>
    <h3>Activity</h3>
    <div ng-repeat="result in results | reverse">
        <span>{{result.fields.packageName}} has been deployed to {{result.fields.MachineName}} ({{result.fields.handler}}).</span>
    </div>
</div>

<div ng-show="!deploymentId" class="alert alert-warning row-fluid">
    <h3>Enter your deployment GUID to start or download the profile data.</h3>
    <h4>Google Chrome only.</h4>
</div>